<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136492616661-27dmulng07uf07rv9nn6vpkh3f91asuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136492616661-27dmulng07uf07rv9nn6vpkh3f91asuh</string>
	<key>API_KEY</key>
	<string>AIzaSyBv5Ekikw3oMT2QXQZJK7ICH7SIXzA8z98</string>
	<key>GCM_SENDER_ID</key>
	<string>136492616661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gonz.heartPressureApp</string>
	<key>PROJECT_ID</key>
	<string>presionarterialapp</string>
	<key>STORAGE_BUCKET</key>
	<string>presionarterialapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136492616661:ios:d46ca40c94047f6f</string>
	<key>DATABASE_URL</key>
	<string>https://presionarterialapp.firebaseio.com</string>
</dict>
</plist>